//! **************************************************************************
// Written by: Map P.68d on Sat Apr 27 10:54:11 2019
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "P43" LEVEL 1;
COMP "SDA" LOCATE = SITE "P24" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P45" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P44" LEVEL 1;
COMP "CCLK" LOCATE = SITE "P70" LEVEL 1;
COMP "RST_N" LOCATE = SITE "P38" LEVEL 1;
COMP "TMDS1_POSITIVE<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "TMDS1_POSITIVE<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "TMDS1_POSITIVE<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P133" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P134" LEVEL 1;
COMP "SPI_SS" LOCATE = SITE "P48" LEVEL 1;
COMP "CLOCK_EXT" LOCATE = SITE "P51" LEVEL 1;
PIN CLOCK_EXT_pin<0> = BEL "CLOCK_EXT" PINNAME PAD;
PIN "CLOCK_EXT_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sync_out_1" LOCATE = SITE "P17" LEVEL 1;
COMP "sync_out_2" LOCATE = SITE "P22" LEVEL 1;
COMP "TMDS1_CLOCK_P" LOCATE = SITE "P144" LEVEL 1;
COMP "TMDS2_POSITIVE<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "TMDS2_POSITIVE<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "TMDS2_POSITIVE<2>" LOCATE = SITE "P115" LEVEL 1;
COMP "TMDS2_CLOCK_P" LOCATE = SITE "P121" LEVEL 1;
COMP "sync_in_1" LOCATE = SITE "P16" LEVEL 1;
PIN sync_in_1_pin<0> = BEL "sync_in_1" PINNAME PAD;
PIN "sync_in_1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sync_in_2" LOCATE = SITE "P21" LEVEL 1;
COMP "CLOCK_IN" LOCATE = SITE "P56" LEVEL 1;
COMP "SCL" LOCATE = SITE "P23" LEVEL 1;
PIN clkt1_pin<1> = BEL "clkt1" PINNAME O;
PIN "clkt1_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN startbufg_pin<1> = BEL "startbufg" PINNAME O;
PIN "startbufg_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

